<h1 align="center">Listing All Transactions</h1>

<table style="width:95%;border:1px solid;margin-left:30px;background:lightgrey">
  <tr>
    <th class="nobg">ID</th>
    <th>Description</th>
    <th class="nobg">Credit Account ID</th>
    <th>Credit Account Name </th>
    <th class="nobg">Debit Account ID </th>
    <th>Debit Account Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%=h transaction.id %></td>
    <td><%=h transaction.description %></td>
    <td>0000<%=transaction.credit_account_id %></td>
    <td><%=link_to(h(transaction.credit_account.name), account_path(transaction.credit_account)) %></td>
    <td>0000<%=transaction.debit_account_id%></td>
    <td><%=link_to(h(transaction.debit_account.name), account_path(transaction.debit_account)) %></td>
    <td><%=h transaction.amount %></td>
    <td><%=h transaction.created_at %></td>
  </tr>
<% end %>
</table>

<br />
<div style="margin-left:30px;font-size:18px"><%= link_to 'Make  New Transaction', new_transaction_path %>
<h3>See  <%= link_to 'Accounts', accounts_path %></h3></div>

